.home-container {
    font-family: 'DM Mono', sans-serif;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(25px, auto));
    grid-column-gap: 20px;

    margin: 0px 60px 0px 60px;

    // height: 91.5vh;

    // background-color: #000;

    &__bg {
        grid-column: 1/13;
        grid-row: 1/5;

        // background-image: url("./src/assets/logo.svg");
        // background-repeat: no-repeat;
        // background-position: center center;

        // height: 100vh;

        justify-self: center;
    }

    .btn {
        grid-column: 5/9;
        grid-row: 2/3;
    }
}