.projects-container {
    font-family: 'Geologica', sans-serif;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(25px, auto));
    grid-column-gap: 20px;

    margin: 0px 60px 0px 60px;
}