@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$font-geo: 'Geologica', sans-serif;
$font-mono: 'DM Mono', monospace;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

/* ----- Error Page  ----- */
.error {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    &__h1 {
        padding: 15px;
        border: black solid 1px;
        border-radius: 20px;

        font-size: 30px;
        font-weight: 600;
        color: red;
        font-family: $font-geo;
    }
}


/* ----- Header  ----- */
.navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 20px;

    padding: 0px 60px;

    align-items: center;

    color: #fff;
    background-color: #000;

    &__logo {
        cursor: pointer;

        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: left;

        width: 50px;
    }

    &__nav-btns {
        grid-column: 2/5;
        grid-row: 1/2;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;

        justify-content: left;

        margin-top: 5px;

        &>*:first-child {
            border-top-left-radius: 4px;

        }

        &>*:last-child {
            border-top-right-radius: 4px;
        }
    }

    &__extra {
        grid-column: 12/13;
        grid-row: 1/2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;

        align-items: center;

        &__time {
            font-family: $font-mono;
            font-size: 14px;
        }

        &__icon {
            width: 19px;
            height: 19px;

            align-self: center;
        }
    }
}


/* ----- Footer  ----- */
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 20px;

    padding: 0px 60px;

    align-items: center;

    color: #fff;
    background-color: #000;

    &__logo {
        cursor: pointer;

        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: left;

        width: 50px;
    }

    &__nav-btns {
        grid-column: 2/5;
        grid-row: 1/2;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;

        justify-content: left;

        margin-bottom: 5px;

        &>*:first-child {
            border-bottom-left-radius: 4px;

        }

        &>*:last-child {
            border-bottom-right-radius: 4px;
        }
    }

    &__socials {
        grid-column: 12/13;
        grid-row: 1/2;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;

        align-items: center;

        &__icon {
            align-items: center;

            text-decoration: none;
            color: #fff;

            background-color: #000;
            border: 1px solid #fff;
            border-radius: 3px;

            padding: 5px;
            margin-bottom: 2px;
            width: 16px;
            height: 16px;

            filter: drop-shadow(2px 2px #fff);

            transition: all 0.1s ease-in-out;

            &:hover {
                translate: 2px 2px;
                filter: drop-shadow(0px 0px);

                color: #000;
                background-color: #fff;
            }
        }
    }
}


/* ----- Page Elements  ----- */
.nav-btn {
    cursor: pointer;

    color: #fff;
    text-decoration: none;
    font-family: $font-mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    background-color: #000;
    border: 1px solid #fff;

    padding: 11px 0px;
    width: 123px;

    justify-self: center;

    transition: all 0.1s ease-in-out;

    .navbar & {
        border-bottom: none;
        filter: drop-shadow(2px 2px #fff);

        &:hover {
            translate: 2px 2px;
            filter: drop-shadow(0px 0px);
            background-image: linear-gradient(to bottom, #ffdda6, #fff, #fff);
            color: #000;
            font-weight: 500;
        }

        &--active {
            translate: 2px 2px;
            filter: drop-shadow(0px 0px);
            background-image: linear-gradient(to bottom, #ffdda6, #ffdda6, #fff);
            color: #000;
            font-weight: 500;
        }
    }

    .footer & {
        border-top: none;
        filter: drop-shadow(2px -2px #fff);

        &:hover {
            translate: 2px -2px;
            filter: drop-shadow(0px 0px);
            background-image: linear-gradient(to top, #ffdda6, #fff, #fff);
            color: #000;
            font-weight: 500;
        }

        &--active {
            translate: 2px -2px;
            filter: drop-shadow(0px 0px);
            background-image: linear-gradient(to top, #ffdda6, #ffdda6, #fff);
            color: #000;
            font-weight: 500;
        }
    }
}

.btn {
    grid-column: 6/8;
    grid-row: 2/3;

    cursor: pointer;

    color: #fff;
    font-weight: 500;
    text-align: center;
    align-self: center;
    justify-self: center;

    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;

    width: 90%;
    padding: 11px 0px;

    filter: drop-shadow(2px 2px #000);

    transition: all 0.1s ease-in-out;

    &:hover {
        translate: 2px 2px;
        filter: drop-shadow(0px 0px);
        background-image: linear-gradient(to bottom, #ffdda6, #fff, #fff);
        color: #000;
        border: 1px solid #000;
    }
}